html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
.container {
	width: 1300px;
	margin: 0 auto;
	padding: 0 5px;
}
.flex {
	display: flex;
	align-items: center;
}
.site-nav{
	justify-content: space-between;
	position: fixed;
    width: 1300px;
    top: 0;
	height: 100px;
}
.site-nav__link {
	font-size: 16px;
	text-decoration: none;
	color: #000;
}
.site-nav__logo {
	font-size: 24px;
	font-weight: 700;
}
.site-nav__list {
	justify-content: space-between;
	margin-left: 300px;
	list-style-type: none;
	width: 35%;
}
.site-nav__button button{
    background: #086CF9;
    border-radius: 5px;
    padding: 12px 24px;
    border: 1px solid #086CF9;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-left: 12px;
}
.site-nav__button button:hover{
    background: #fff;
    border-radius: 5px;
    padding: 12px 24px;
    border: 1px solid #086CF9;
    font-size: 18px;
    font-weight: 400;
    color: #086CF9;
	transition:0.4s; 
    margin-left: 12px;
	box-shadow: 1px 1px 3px 3px #999;
}
.site-nav__item {
	position: relative;
	cursor: pointer;
}
.drop-list {
	display: none;
	padding: 10px;
	border-radius: 5px;
	position: absolute;
	top: 20px;
	right: -40px;
	background-color: rgb(208, 208, 36);
	list-style-type: none;
}
.site-nav__item:hover > .drop-list {
	display: block;
}
.site-nav__item-text {
	margin-right: 10px;
}
.drop-list__menu {
	display: none;
	padding: 10px;
	border-radius: 5px;
	position: absolute;
	top: -10px;
	left: 70px;
	background-color: rgb(208, 208, 36);
	list-style-type: none;
}
.site-nav__item:hover > .drop-list__menu {
	display: block;
}
.site-nav__item-text {
	margin-right: 10px;
}
.subject-content{
    background: linear-gradient(rgba(0, 0, 0, 0.54),rgba(0, 0, 0, 0.54)),url(Images/1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1300px;
    height: 645px;
    margin-top:100px;
}
.subject-content__subject{
    color: #fff;
    justify-content: center;
    flex-direction: column;
    height: 640px;
}
.subject-content__h1{
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 30px;
}
.subject-content__p{
    margin-bottom: 60px;
    text-align: center;
    font-size: 17px;
    width: 840px;
    line-height: 25px;
}
.subject-content__button{
    background: #086CF9;
    color: #fff;
    word-spacing: 3px;
    border-radius: 5px;
    padding: 15px 30px;
    border: 1px solid #086CF9;
    font-size: 18px;
}
.subject-content__button:hover{
    background: #fff;
    color: #086CF9;
    word-spacing: 3px;
    border-radius: 5px;
    padding: 15px 30px;
	transition: 0.4s;
    border: 1px solid #086CF9;
    font-size: 18px;
	box-shadow: 1px 1px 3px 3px #999;
}
.menu-bar{
	width: 1000px;
	height: 200px;
	margin: 0 auto;
	margin-top: -8%;
	background: #FFFFFF;
    box-shadow: 0px 11px 35px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}
.menu-bar__service{
	width: 1000px;
    height: 200px;
	margin: 0 auto;
	justify-content: space-around;
}
.menu-bar__inside img{
	width: 72px;
	height: 62px;
}
.menu-bar__content{
	margin-left: 17px;
}
.menu-bar__content h3{
	font-size: 36px;
	font-weight: 700;
}
.menu-bar__content p{
	font-size: 16px;
	font-weight: 700;
}
.content-page{
	justify-content: space-between;
	margin-top: 130px;
}
.content-page__main{
	width: 600px;
}
.content-page__h2{
	font-size: 50px;
	font-weight: 700;
	line-height: 62px;
	margin-bottom: 30px;
}
.content-page__p1{
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 30px;
}
.content-page__p2{
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 30px;
}
.content-page__button{
	background: #086CF9;
    color: #fff;
    word-spacing: 3px;
    border-radius: 5px;
    padding: 15px 25px;
    border: 1px solid #086CF9;
    font-size: 18px;
}
.content-page__button:hover{
	background: #fff;
    color: #086CF9;
    word-spacing: 3px;
    border-radius: 5px;
    padding: 15px 25px;
    border: 1px solid #086CF9;
	transition: 0.4s;
    font-size: 18px;
	box-shadow: 1px 1px 3px 3px #999;
}
.content-page__img{
   background-image: url(Images/5.png);
   width: 600px;
   height: 430px;
}
.content-page__img i{
	font-size: 50px;
	color:#086CF9;
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 20px 29px;
	background-color: #fff;
	margin-left: 250px;
}
.content-page__img i:hover{
	font-size: 52px;
	color: #fff;
	background-color: #086CF9;
	transition: 0.5s;
	transform: rotate(360deg);
}
.subject{
	text-align: center;
	font-size: 54px;
    font-weight: 700;
	margin-top: 150px ;
	margin-bottom: 30px;
}
.subp{
	text-align: center;
	font-size: 18px;
	margin: 0 auto;
	width: 420px;
	line-height: 28px;
}
.middle-text{
	justify-content: space-between;	
}
.middle-text__box{
	width: 280px;
	height: 200px;
	display: flex;
	flex-direction: column;
	margin-top: 40px;
}
.middle-text__box img{
	width: 80px;
	height: 80px;
	display: flex;
	margin-left: 100px;
	margin-bottom: 15px;
}
.middle-text__h3{
	text-align: center;
	font-size: 24px;
	margin-bottom: 15px;
	width: 280px;
}
.middle-text__p{
	text-align: center;
	font-size: 16px;
	width: 280px;
}
.middle-box{
	width: 1300px;
	height: 1500px;
	background-color: #ECF4FF;
	margin-top: 100px;
	display: block;
}
.middle-box__subject2{
	text-align: center;
	font-size: 54px;
    font-weight: 700;
    padding-top: 50px;
	margin-bottom: 25px;
}
.middle-box__subp2{
	text-align: center;
	font-size: 18px;
	margin: 0 auto;
	width: 650px;
	line-height: 28px;
}
.middle-box-pro{
	display: flex;
	margin-top: 50px;
	justify-content: space-around;
}
.middle-box__card{
	width: 370px;
	height: 500px;
	background-color: #fff;
	border-radius: 10px;
}
.middle-box__card img{
	width: 320px;
	height: 210px;
	margin: 20px 25px;
	background-color: #fff;
}
.middle-box__p{
	margin: 0 auto;
	width: 320px;
	justify-content: space-between;
	border-bottom: 1px solid #999;
	padding-bottom: 12px;
}
.middle-box__p img{
	width: 40px;
	height: 40px;
}
.middle-box__fun i{
	margin-left: 10px;
	border: 1px solid #333;
	border-radius: 50%;
	padding: 5px;
	color: #086CF9;
}
.middle-box__fun p{
	margin-left: 10px;
}
.middle-box__work{
	width: 320px;
	margin: 0 auto;
	justify-content: space-between;
	padding-top: 20px;
}
.middle-box__p2{
	font-size: 25px;
	font-weight: 700;
    color: #086CF9;
}
.middle-box__p3{
	width: 320px;
	margin: 0 auto;
	margin-top: 30px;
}
.middle-box__button{
	background: #086CF9;
    border-radius: 6px;
	padding: 18px 50px;
	color: #fff;
	border: 1px solid #086CF9;
	margin: 50px auto;
	font-size: 20px;
}
.middle-box__button:hover{
	background: #fff;
    border-radius: 6px;
	padding: 18px 50px;
	color: #086CF9;
	border: 1px solid #086CF9;
	margin: 50px auto;
	font-size: 20px;
	transition: 0.4s;
	box-shadow: 1px 1px 3px 3px #999;
}
.middle-box__card2{
	width: 370px;
	height: 550px;
	background: #FFFFFF;
    box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}
.middle-box-proffessional{
	width: 320px;
	margin: 0 auto;
	margin-top: 30px;
	justify-content: space-between;
}
.middle-box__fun p{
	margin-left: 20px;
}
.middle-box__box .middle-box__card1{
    background: url(Images/20.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}



















.middle-box2{
    justify-content: space-between;
    height: 502px;
    margin-bottom: 150px;
}
.middle-box2__card{
    box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    width: 368px;
    height: 100%;
}
.middle-box2--header{
    text-align: start;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.middle-box2text{
    margin-left: 25px;
    font-size: 16px;
    line-height: 155%;
    color: #555555;
    margin-bottom: 30px;
}
.middle-box2__info{
    justify-content: space-between;
    width: 80%;
    margin-left: 25px;
    height: 22px;
}
.middle-box2__info--part1{
    width: 107px;
    height: 100%;
}
.middle-box2__info--part2{
    width: 90px;
    height: 100%;
}
.middle-box2__info--text{
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    color: #555555;
    margin-left: 5px;
}
.star{
    margin-left: 20px;
}
.cards4{
    height: 400px;
    justify-content: space-between;
    margin-bottom: 120px;
}
.card4__card{
    width: 368px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 12px 45px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}
.card4__img-div{
    width: 100%;
    height: 240px;
    border-radius: 6px 6px 0px 0px;
    margin-bottom: 25px;
}
.img-div1{
    background-image: url(img/card4img1.png);
}
.img-div2{
    background-image: url(img/card4img2.png);
}
.img-div3{
    background-image: url(img/card4img3.png);
}
.card4headertext{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #222222;
    margin-bottom: 25px;
    margin-left: 25px;
}
.card4__div--info{
    justify-content: space-between;
    width: 90%;
    height: 22px;
    margin-left: 25px;
}
.card4__info--part1{
    width: 50%;
    height: 100%;
}
.card4__info--part2{
    width: 50%;
    height: 100%;
}
.card4__blue-div{
    justify-content: center;
    background: #086CF9;
    border-radius: 6px 0px 0px 0px;
    width: 65px;
    height: 62px;
}
.bluedivtext{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    text-align: center;
}
.banner2{
    width: 1300px;
    height: 247px;
    background: #D3E5FE;
    justify-content: space-around;
    margin-bottom: 150px;
}
.banner2__content{
    justify-content: space-around;
    height: 247px;
}
.banner2__card{
    width: 89px;
    height: 100%;
}
.banner2__numbers{
    margin-top: 70px;
}
.banner3__p-text{
    margin: 0;
    text-align: center;
}
.cards5{
    justify-content: space-between;
    height: 487px;
    margin-bottom: 50px;
}
.cards5__card{
    width: 368px;
    height: 100%;
    background: #FFFFFF;
    border: 0.5px solid #BFBFBF;
    border-radius: 4px;
}
.cards5__card--img{
    height: 248px;   
}
.cards5__card--content{
    margin-top: 20px;
    width: 90%;
    height: 40%;
}
.card5__header{
    margin-left: 0;
    margin-bottom: 15px;
}
.card5__text{
    margin-left: 0;
    margin-bottom: 25px;
}
.card5__link{
    font-size: 16px;
    line-height: 155%;
    color: #086CF9;
    text-decoration: none;
}
.cards5__btn{
    justify-content: center;
    margin-bottom: 150px;
}
.cards5__btn--view{
    width: 124px;
    height: 56px;
    border-radius: 6px;
}
.cardwrapper{
    justify-content: space-between;
    height: 260px;
    margin-bottom: 150px;
}
.cardwrapper__card{
    width: 320px;
    height: 100%;
    box-shadow: 0px 13px 45px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}
.cardwrapper__wrap{
    justify-content: center;
    width: 7%;
    height: 100%;
}
.cardwrappper__div--icon{
    cursor: pointer;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.icon--left{
    border: 1px solid #D5D4D4;
}
.icon--right{
    background: #086CF9;
}
.fa-angle-left{
    font-size: 20px;
    color: #D5D4D4;
}
.cardwrappper__div--icon i:hover{
    cursor: pointer;
}
.cardwrapper--text{
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: 20px;
}
.cardwrapper__info{
    justify-content: space-between;
    width: 80%;
    height: 72px;
    margin-left: 20px;
}
.cardwrapper__info--content{
    width: 65%;
    height: 100%;
}
.nametext{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #222222;
    margin-top: 7px;
}
.form-part{
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 150px;
    width: 939px;
    height: 325px;  
    background: #086CF9;
    border-radius: 6px;
}
.form__h2{
    font-weight: 700;
    font-size: 36px;
line-height: 47px;
color: #FCFCFC;
text-align: center;
margin-bottom: 15px;
}
.form__text{
    font-size: 16px;
    line-height: 155%;
    text-align: center;
    color: #F9F9F9;
    text-align: center;
    margin-bottom: 40px;
}
.form__form{
    position: relative;
    align-self: center;
    width: 538px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 4px;
}
input{
    padding: 15px 30px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 14px;
    line-height: 155%;
    color: #555555;
    border:none;
    outline: none;
}
.form__button{
    position: absolute;
    width: 115px;
    height: 48px;
    left: 413px;
}
.form__button:hover{
    transform: scale(1.1);
    transition: ease 0.7s;
    color: #FFFFFF;
    background-color: #086CF9;
    border: 2px solid #00aaff ;
}
footer{
    width: 1px;
    background: #D3E5FE;
    height: 470px;
}
.footer__content{
    height: 421px;
    justify-content: space-between;
}
.footer__part1{
    width: 360px;
    height: 100%;
}
.footer__part2{
    width: 200px;
    height: 100%;
}
.footer__part3{
    width: 120px;
    height: 100%;
}
.footer__part4{
    width: 203px;
    height: 100%;
}
.footer__part{
    padding-top: 50px;
}
.footerheadertext{
    font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 39px;
color: #222222;
margin-bottom: 30px;
}
.footertext{
    margin-bottom: 50px;
}
.footer__div--icons{
    justify-content: space-between;
    width: 240px;
    height: 48px;
}
.footer__icon--square{
    justify-content: center;
    width: 48px;
    height: 48px;
    border: none;
    background-color: #fff;
}

.fa-angle-right{
    color:  #086CF9;
    font-size: 20px;
    margin-right:10px;
}
.footer__item{
    font-size: 16px;
line-height: 21px;
color: #444444;
text-decoration: none;
}
.footer__link{
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    list-style-type:none;;
}
.footer__drop-menu{
    width: 120px;
    padding: 5px 20px;
    display: none;
    margin-top: 15px;
    background-color: transparent;
    border: 1px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 6px;
}

.footerlinktext{
    text-decoration: none;
    color: #444;
}
.contact{
    margin-top: 20px;
    list-style-type: none;
    width: 200px;
    height: 30px;
}
.linkimg{
    margin-right: 15px;
}
.icon--right{
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 10px;
}